:root {
    --background-main: #003366;
    --background-second: #2b2b2b;
    --subtitle-color: #DC143C;
    --title-color: #808000;
    --font-color: #C0C0C0; 
}

body {
    background: url(images/atomica1.webp);
    background-size: cover;
    background-position: center center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body:-webkit-scrollbar {
    display: none;
}

/*MAIN*/

#main {
    margin: 20px 10px 20px 10px;
    background-color: rgba(0, 51, 102, 0.7)
}

#title {
    padding: 20px;
    font-family: "Playfair Display", serif;
    text-align: center;  
    margin-left: 15vw;
    margin-right: 15vw;
    color: var(--title-color);
    text-shadow: 2px 2px 6px var(--background-second); 
}

#description {
    font-family: "Merriweather", serif;
    padding: 20px 20px 40px 20px;
    margin-left: 15vw;
    margin-right: 15vw; 
    text-align: center;
    color: var(--font-color);
    line-height: 1.4;
}

em {
    color: var(--subtitle-color);
    font-size: larger;
}

/*IMAGE*/

#img-div {
    background-color: rgba(43, 43, 43, 0.7);
    padding: 45px 20px 40px 20px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    width: 50%;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
    font-family: "Merriweather", serif;
    margin-left: 15vw;
    margin-right: 15vw; 
    padding: 40px 20px 0 20px;
    color: var(--font-color);
}

/*TRIBUTE LIST*/

#tribute-info {  /*div*/
    text-align: center;
    padding: 20px;
    margin-left: 15vw;
    margin-right: 15vw;
}

#title-2 {
    padding: 10px 20px 40px 20px;
    font-family: "Playfair Display", serif;
    color: var(--title-color);
    text-shadow: 2px 2px 6px var(--background-second); 
}

li {
    list-style: none;
    padding-bottom: 40px;
    color: var(--font-color);
    font-family: "Merriweather", serif;
    line-height: 1.4;
}

li:last-of-type {
    padding-bottom: 20px;
}

strong {
    color: var(--subtitle-color);
    font-weight: 1000;
    font-style: italic;
    text-shadow: 2px 2px 6px var(--background-second); 
}

/*QUOTE*/

#quote-div {
    background-color: rgba(43, 43, 43, 0.7);
    padding: 50px;
}

blockquote {
    color: var(--font-color);
    text-align: center;
    font-family: "Merriweather", serif;
    font-style: italic;
    font-size: larger;
}

/*WIKI*/

#wiki-div {
    padding: 20px;
}

#wiki-p {
    padding: 20px;   
    color: var(--font-color);
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 1.4;
    margin-left: 15vw;
    margin-right: 15vw;
}

a {
    text-decoration: none;
    color: var(--subtitle-color);
}

a:visited {
    color: var(--subtitle-color);
}





